.about {
  &__container {
    max-width: 600px;
    margin: 2rem auto;
    overflow: hidden;
    padding: 0 2rem;
  }

  &__tittle {
    font-size: 2rem;
    font-weight: 700;
    color: $color-primary;
  }

  &__version {
    background-color: $color-grey-dark-3;
    color: $color-white;
    padding: 1rem;
  }
}
